// Navigation Styles here
header{
    display: flex;

    h1{
        width: 48%;
        padding-left: 1%;

    }

    .header{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        justify-content: space-between;
        height: 5vh;
        flex-direction: row;
    
    }

    a{
        color: @font-color;
        text-decoration: none;
    }

    nav{
        width:48%;
        display: flex;
        justify-content: space-around;
    };
}

.yellowbus{
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 100%;
        border-radius: 10px;
    }
}

.welcome{
    width: 100%;
    padding-top: 1%;

    p{
        width:100%;
        padding-bottom: 4%;
        border-bottom: dashed 2px @navigation-border
    }
}